@if(task()){
  <app-cards>
    <div class="task-card">
      <div class="task-content">
        <div class="task-status"></div>
        <div class="task-details">
          <h3 [style.text-decoration]="task().completed ? 'line-through' : 'none'">{{ task().title }}</h3>
          <p class="task-description" [style.text-decoration]="task().completed ? 'line-through' : 'none'">{{ task().description }}</p>
          <span class="task-date">
            <span class="material-icons-round">calendar_today</span>
            {{ task().date | date }}
          </span>
        </div>
      </div>
      <div class="task-actions">
        @if(!task().completed){
        <button class="edit-btn" (click)="onEditClick(task())">
          <span class="material-icons-round">edit</span>
        </button>
          <button class="complete-button" (click)="onCompleteClick(task())">
            <span class="material-icons-round">check_circle</span>
            Mark Complete
          </button>
        }@else {
          <span class="material-icons-round">check</span>
        }
      </div>
    </div>
  </app-cards>
}