<div class="header">
  <div class="header-left">
    <h1>Todo List</h1>
    <p>Welcome to your todo list!</p>
  </div>
  <div class="header-right">
    <button class="logout-button" type="button" (click)="logout()">
      <span class="material-icons-round">logout</span>
      Logout
    </button>
    <button class="profile-button" type="button" (click)="onOpenProfile()">
      <span class="profile-name">{{ userName().split('_')[1] }}</span>
      <img
        [src]="'http://localhost:8080/uploads/' + userName() + '.jpg'"
        [alt]="userName() + 's avatar'"
        class="profile-avatar"
        loading="lazy"
      />
    </button>
  </div>
</div>

@if (this.showProfile) {
  <app-profile (onCloseDialog)="onCloseProfile()"></app-profile>
}
