<dialog class="add-task-dialog" open>
  <div class="dialog-card">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <p>
        <label>Enter the Title</label>
        <input name="title" type="text" formControlName="title" required />
      </p>
      <p>
        <label>Enter the Description</label>
        <input name="description" type="text" formControlName="description" required/>
      </p>
      <p>
        <label>Enter the Date</label>
        <input name="date" type="date" formControlName="date" required/>
      </p>
      @if(form.invalid && form.touched){
        <p style="color: red;">Please fill in all required fields.</p>
      }
      <!-- TODO : Add validation for when date is empty add task gets enabled -->
      <div class="dialog-actions">
        <button type="button" (click)="onClose()">Cancel</button>
        <button [disabled]="form.invalid" type="submit">Add Task</button>
      </div>
    </form>
  </div>
</dialog>